[submodule "ical4notion"]
	path = ical4notion
	url = https://www.github.com/Hyvi/ical4notion.git
[submodule "try-go-clean-template"]
	path = try-go-clean-template
	url = https://www.github.com/Hyvi/try-go-clean-template.git
[submodule "auto-dev-rag-demo"]
	path = auto-dev-rag-demo
	url = https://www.github.com/Hyvi/auto-dev-rag-demo.git
